.body{
    background-color: #f0f2f5;
}

.log{
    font-size: 18px;
    line-height: 22px;
}

.orrr{
    font-size: 10px;
}
.btn{
    background-color: #4267b2;
}
.input{
    border-radius: 6px;
    font-size: 17px;
    
    width: 330px;
}